h1 {
    color:red;
    text-align: center;
}
body{
    border: 2px dashed-red;
    background-repeat: no repeat;
    background:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnBaLFfMo0mRkNd9kRv5h43kTvpcKpAtkaNhcIOAPuiTHTbdKO");
   }
   .container{
    border:10px solid black;
    padding:25px;
    align-self: center;
    text-align: center;
    background-color: yellowgreen;
    margin-top: 12%;
    margin-left: 30%;
    margin-right:30%;
   
   }